form{
    display: inline-flexbox;
    align-items: left;
    box-shadow:2px rgb(91, 86, 86);
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(216, 208, 187, 0.466);
    width: 320px;
}
.to{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(243, 239, 229, 0.466);
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}
button:hover{
    opacity: 0.8;
}
fieldset{
    border: 2px solid rgb(60, 59, 59);
    border-radius: 3px;
    padding: 40px;
    margin-bottom: 10px;
}
legend{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(27, 26, 26);
}
label{
    font-size: 15px;
    font-weight: bold;
    color: rgba(27, 26, 26, 0.855);
}
select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #817f7f;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(253, 252, 249, 0.466);
}